@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#navbar{

    background-color: #03adfc;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    border-radius: 10px;


}

table {
    margin: 10px;
    border-radius: 10px;

    max-width: 100%;
    max-height: 85vh;
    overflow:scroll;
    display:block;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: left;
}

th{
    font-weight: 400;
    position:sticky;
    top: 0;
    background-color: #dfdede;
    border: 1px black solid;
}


a{
    text-decoration: none;
    color: aliceblue;
}

.buttonGroup{
    display: flex;
    justify-content: center;

}

.buttonGroup button{
    margin: 10px;
}
*{
    font-family: "Poppins", "sans-serif";

}

html{
    background: url(bluedots.png);
    background-repeat: repeat-xy;
}

#sitelinks a{
    margin: 5px;
    font-size: 1.3rem;
}

#navbar a{
    font-size: 1.3rem;
    margin: 5px;

}

#myInput{
    border-radius: 10px;
    margin: 10px;
    width: 45%;
    border: grey solid 1px;
    justify-content: center;
}

article{
    border-radius: 10px;
    background-color: white;
    width: 90%;
    margin: 10px auto 60px auto;
}

.releaseNotes{
    padding: 5%;
}

.releaseNotes h4{
    font-weight: normal;
}

#seasonTitle{
    text-align: center;
    padding: 15px;
}

#tablecontainer{
    padding-bottom: 5px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
  }


#seasonList a:nth-child(odd){
    background-color: #f2f2f2;

}

#seasonList a:hover{
    background-color: #dfdede;

}

#seasonList a{
    color: black;
    padding: 5px;
    font-size: 1.3rem
}
#seasonList{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    text-align:center
}

th.sorted-asc::after {
    content: ' \1F781'; /* Up arrow */
}

th.sorted-desc::after {
    content: ' \1F783'; /* Down arrow */
}

th.unsorted::after{
    content: ' \21C5'
}

a.listedName{
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
}

#inputContainer{
    display: flex;
    padding: 10px;
    justify-content: center;
}

#allTimeTable{
    margin: 10px;
    display: inline-block;
}

#allTimeTeamName{
    text-align: center;
}

#all-time{
    text-align: center;
}

.homePageLinks{
    display: flex;
    justify-content:  space-around;
}

.homePageLinks div{
    border: 1px black solid;
    border-radius: 10px;
    width: 20%;
}

.homePageLinks h3{
    font-size: 15px;
    padding: 5px;
}
.homePageLinks h2{
    text-align: center;
    padding: 5px;
}


.homePageLinks i{
    color: black;
    font-size: 25px;
    padding: 5px;
    text-align: center;
}

.eventsAnchor{
    color: black;
    font-weight: normal;
}

.eventList li:nth-child(odd) {
    background-color: #f2f2f2;
  }

.eventList li:hover{
    background-color: #dfdede;

}

.eventList{
    padding: 25px;
    list-style-type:none;


}

.eventList li{
    padding: 10px;
    display: flex;
    justify-content: space-between;

}


#eventContainer{

    padding: 5px;


}

.previewAvailable{
    text-decoration: underline; 
}